.background {
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.logo {
    height: 10%;
    width: 30%;
    margin: auto;
    display: block;
}

h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
}

table {
    border: solid 3px green;
    width: 70%;
    margin: 0 auto;
    background-color: #f6fbfca7;
    vertical-align: middle;
}

tbody, tr, td {
    vertical-align: middle;
}

.left {
    width: 50%;
    padding: 20px;
}

img {
    padding: 20px;
    max-width: 400px;
}

.right {
    width: 50%;
    border-left: solid 3px green;
    padding: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    font-size: 22px;
}

#keanu, #swayze, #skydive, #kiedis, #reagan {
    display: none;
    float: left;
}